body{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}



  .btn-manage{
    width: calc(fit-content + 2rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }


  .styled-table {
    margin: 25px 0;
    font-size: 0.9em;
    min-width: max-content;
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; 
    box-shadow: 0 0 2rem #000000;
    overflow: hidden;
}

.styled-table thead tr {
  background-color: #FFA500;
  color: #ffffff;
  text-align: center;
  height: 4rem;
}


.styled-table th,td {
    padding: 12px 15px;
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: rgb(190, 197, 190);
  
}

.body{
  justify-content: center;
}


.action-cls{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 12rem;

}

.main-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5%;
  border: 1px solid blanchedalmond;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5rem #c0bbbb;
  border-radius: 25px;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: center;
}

.main-form-div{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

.main-form-div:first-child{
  padding-top: 3%;
}

.main-form-div:last-child{
  padding-bottom: 1%;
}

.input,input,textarea{
  width: 100%;
  height: fit-content;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 7px;
  background-color: #f8f8f8;
  font-size: 12px;
  resize: none;
  margin: 1%;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error{
  box-shadow: 0 0 1em red;
}



.btn {

  color: rgb(255, 255, 255);
  background-color: #111;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  min-width: 80px;
  width: fit-content;
  height: 30px;
  font-weight: bold;
  margin-right: 0.6rem;
  margin-top: 0.5rem;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: ease-in 300ms;
}

.btn-cls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-img{
  width: 100px;
}
